@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');

:root{
    --darkblue: #2C2E43;
    --darkgray: #595260;
    --gray: #B2B1B9;
    --accent: #FFD523;
    --accent2: #8E05C2;
    --background: #FEFEFE;
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: var(--background)
}